body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 198, 198) ;
    padding-bottom: 50px;
    margin: auto;
}

.container{
    width: 20%;
    height: auto;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 510px;
    margin-right: 510px;
    gap: 80px;

}

.key{
    width: 40%;
    display: block;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(230, 218, 118);
    text-align: center;
    margin-left: 510px;
    margin-right: 510px;
    gap: 100px;

 
  
}

.bwh{
    display: flex;
    margin-left: 510px;
    margin-right: 510px;
    gap: 100px;
}

.kanan{
    display: flex;
    margin-left: 510px;
    margin-right: 510px;
    gap: 100px;
}

